.register-form{
    height: 100vh;
    width: 100%;
    background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20230617/pngtree-modern-blue-networking-tech-wallpaper-with-golden-hexagons-in-3d-render-image_3618505.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
  }
  
  form{
    border: 2px solid rgb(99, 114, 124);
    height: 90vh;
    width: 50%;
    background-color: linear-gradient(to right, rgba(56, 82, 85, 0.727), rgba(13, 42, 77, 0.83));
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
    text-align: center;
  }
  
  form h1{
    margin-top: 0.5rem;
    color: white;
    font-size: 2.5rem;
  }
  
  form input{
    margin: 1rem;
    padding: 0.7rem;
    border-radius: 0.5rem;
    border: 3px solid rgb(6, 6, 7)
  }
  
  form button{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    width: 7rem;
    margin: 1rem;
    padding: 0.5rem;
    background-color: rgb(14, 14, 237);
    border: none;
    border-radius: 5px;
  }
  
  form p,a{
    color: white;
    font-weight: bold;
  }
  
  @media(max-width:478px){
    .register-form{
      height: 100vh;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
     
    }
    
    form{
      border: 2px solid rgb(61, 68, 75);
      height: 75vh;
      width: 80%;
      background-color: linear-gradient(to right, rgba(140, 231, 241, 0.727), rgba(15, 105, 143, 0.83));
      /* display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; */
      text-align: center;
    }
}